  .m_container {
    margin: 10px;
    width: 100%;
  }

  .m_heading{
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    margin: 1rem;
    text-align: center;
  }

  .movie_page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .m_card {
    width: min-content;
    height: 450px;
  }

  .m_card_tits {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
  }
  
  .m_card_text {
    font-size: 0.8rem;
    font-weight: 500;
    color: #c6c6c6;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
  }
  .m_card_body{
    margin-top: 1rem;
  }