.topNav {
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, black, transparent);
    z-index: 10;
  }
  
  .topNav select {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: 0.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 20px;
  }

.nav__logo {
  width: 100px; 
  height: auto; 
}
.search_box{
  width: 600px;
  background-color: #fff;
  border-radius: 8px;
  padding: 0.75rem;
  max-height: 300px;
  overflow-y: scroll;
}
.movie_poster{
  border-radius: 4px;
  
}
.search_box::-webkit-scrollbar {
  width: 50px;
}

.search_list{
  width: 100%;
  padding: 0 0.5rem;
}

.search_list:hover{
  background-color: #ded6d6;
}

.plans{
  margin-right: 10px;
}